body {
	height: 100vh;
	background:url(../images/visbg.png);background-size: cover;
}

.wrapper {
	overflow: hidden;
	height: 100vh;
}

.swiper-container {
	width: 100vw;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
}



.swiper-slide {
	width: auto;
	margin: 0 .19rem;
	/*box-shadow: 0 0 0.1rem #000;*/
	border-radius: .1rem;
    overflow: hidden;
}
.swiper-slide a{display: block; width: 100%; height: 100%;}
.swiper-slide .main-img {
	width: 2.73rem;
}

#pagination {
	display: flex;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    height: 1.4rem;
}

#pagination .swiper-pagination-bullet {
	width: .65rem;
	height: .65rem;
	background-color: rgba(255, 255, 255, .6);
	font-size: .16rem;
	text-align: center;
	color: #84899F;
	margin: 0 0.04rem;
	opacity: 1;
}

#pagination .swiper-pagination-bullet-active {
	
	background-color: #4A90E2;
	
	color: #ffffff;
}

#pagination .swiper-pagination-bullet i,
#pagination .swiper-pagination-bullet-active i {
	font-style: normal;
	display: inline-block;
	width: .36rem;
	line-height: .19rem;
	transform: translate(0, 34%);
}

#pagination .swiper-pagination-bullet:nth-of-type(1) {
	transform: translate(0, .38rem)
}

#pagination .swiper-pagination-bullet:nth-of-type(2) {
	transform: translate(0, .12rem)
}

#pagination .swiper-pagination-bullet:nth-of-type(3) {
	transform: translate(0, 0)
}

#pagination .swiper-pagination-bullet:nth-of-type(4) {
	transform: translate(0, .12rem)
}

#pagination .swiper-pagination-bullet:nth-of-type(5) {
	transform: translate(0, .38rem)
}



.interaction-main {
	height: 100%;
	background: url(../images/interaction-bj.png) no-repeat;
	background-size: 100%;
	overflow-y: auto;
}

.interaction-main>h2 {
	padding: .3rem;
	font-size: .2rem;
	line-height: .28rem;
	color: #FFFFFF;
	margin-bottom: .4rem;
}

.interaction-nav {
	display: flex;
	flex-wrap: wrap;
	padding: 0 .22rem;
	justify-content: space-between;
}

.interaction-nav li {
	width: 1.55rem;
	height: 1.37rem;
	margin-bottom: .22rem;
	border-radius: .22rem;
	overflow: hidden;
	box-shadow: 0px 0px 0.1rem 0px #000;
}

.interaction-nav li a {
	position: relative;
	width: 100%;
	height: 100%;
}

.interaction-nav li img {
	width: 100%;
}

.interaction-nav li span {
	position: absolute;
	left: .1rem;
	top: .1rem;
	font-size: .26rem;
	color: #FFFFFF;
	line-height: .37rem;
}

.sandtable-main {
	height: 100%;
	background: #182E5B;
	position: relative;
	overflow-y: auto;
}

.sandtable-main img {
	width: 100%;
}

.sandtable-main h2 {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: .14rem;
	font-weight: normal;
	height: .5rem;
	line-height: .5rem;
	text-align: center;
	color: #FFFFFF;
	background: rgba(0, 0, 0, .3);
}